@import "tailwindcss";

:root {
  --background: #FCFAF9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCFAF9;
    --foreground: #0a0a0a;
    --tea_rose: #FFC9C2;
    --mint_green: #DAFBF7;
    --seasalt: #FCFAF9;
    --turquoise: #36DBD2;
    --outer_space: #415257;
    ---transparent: rgba(255, 255, 255, 0);
  }
}

@font-face {
  font-family: 'font';
  src: url('/fonts/font.ttf') format('opentype');
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'font', Arial, Helvetica, sans-serif;
}

button:hover{
  cursor: pointer;
}