#appointment label {
    color: var(--outer_space);
}

#appointment button[type="submit"] {
    background-color: var(--turquoise);
    padding: 2px 20px;
    border-radius: 35px;
    color: var(--seasalt);
    margin: 15px;
}